mixin advantages()
  section.advantages
    h2.visually-hidden Advantages
    .container
      .advantages__wrap
        .advantages__item.advantages__item-1
          p.advantages__number 1
          p.advantages__text Sign-up and get<br><span>your free NFT glasses</span>
        .advantages__item.advantages__item-2
          p.advantages__number 2
          p.advantages__text Watch the feed and get the boxes <span>with LEE tokens</span>
        .advantages__item.advantages__item-3
          p.advantages__number 3
          p.advantages__text Buy your NFT glasses and <span>get LEE tokens</span> directly when watching the feed
          p.advantages__description The higher the rarity of&nbsp;your NFT glasses, the&nbsp;more points you get when leveling them up&nbsp;-&nbsp;the&nbsp;more tokens you&nbsp;can earn
          +picture("content", "coin", "png", 102, 97, "Bitcoin")
        .advantages__item.advantages__item-4
          p.advantages__number 4
          p.advantages__text Upgrade your<br><span>NFT glasses</span>
        .advantages__item.advantages__item-5
          p.advantages__number 5
          p.advantages__text <span>Buy additional<br>NFT glasses</span><br>to increase the amount of Attention and&nbsp;rewarded&nbsp;time of&nbsp;watching the feed
          p.advantages__description 1 Attention = 10 minutes<br>of rewarded feed viewing

        .advantages__img
          +picture("content", "screen", "png", 724, 890, "Screen mobile")
