mixin intro()
  section.intro
    .container
      .intro__bg
        +picture("content", "intro", "png", 1512, 907, "")
      .intro__title-area
        h1.intro__title GameFi short video <span>platform</span>
        span.intro__text Watch. Play. Earn
        .intro__title-link
          a.link(href="#", aria-label="Go Google Play")
            +icon("google-play", 64, 64)
          span Pre-registration in Google Play
      .intro__social
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("play", 64, 64)
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("telegram", 64, 64)
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("tviter", 64, 64)
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("facebook", 64, 64)
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("instagram", 64, 64)
        a.intro__social-link.link(href="#", aria-label="Go to")
          +icon("boals", 64, 64)




