mixin text-block()
  section.text-block
    .container
      .text-block__wrap
        h2.text-block__title <span>Cheelee’s</span> mission
        ul.text-content
          li Users spend an&nbsp;average of&nbsp;2.5 hours daily on&nbsp;social networks and get nothing fоr&nbsp;it. We&nbsp;believe that this is&nbsp;unfair
          li <span>Our mission</span> is&nbsp;to&nbsp;provide everyone with the opportunity to&nbsp;monetize time in&nbsp;social networks

        span.text-block__text <span>Cheelee</span> works within the "Attention Economy" framework

        ul.text-content.text-content--small
          li Other social media consider a&nbsp;user as&nbsp;an&nbsp;information and advertising influence target, <span>but a&nbsp;Cheelee user is&nbsp;a&nbsp;full system member, partner and beneficiary</span>
          li The main idea is&nbsp;that attention is&nbsp;converted into income with digital platforms. You pay your attention to&nbsp;what you want, and get paid for&nbsp;it. Your attention has a&nbsp;certain cost.
          li <span>The Attention Economy</span> sees human attention as&nbsp;a&nbsp;scarce commodity making it&nbsp;a&nbsp;new oil! The founder of&nbsp;this concept is&nbsp;the Nobel laureate Herbert Simon
          li Through the GameFi mechanics, Cheelee’s users earn together with the platform by converting their attention into money

