.advantages {

  margin-bottom: 131px;

  &__wrap {
    padding: 0 116px;
    display: grid;
    column-gap: 101px;
    grid-template-columns: 348px 252px 321px;
    grid-template-areas:
      "adv-1 adv-2 adv-3"
      "img img adv-3"
      "img img adv-4"
      "img img adv-5";
  }

  &__item {
    position: relative;
  }

  &__item-1 {
    grid-area: adv-1;
  }

  &__item-2 {
    grid-area: adv-2;
  }

  &__item-3 {
    grid-area: adv-3;
    min-height: 511px;

    img {
      width: 102px;
      height: 97px;
      position: absolute;
      right: 0;
      bottom: 172px;
    }
  }

  &__item-4 {
    grid-area: adv-4;
    min-height: 228px;
  }

  &__item-5 {
    grid-area: adv-5;
  }

  &__img {
    width: 724px;
    height: 890px;
    grid-area: img;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__number {
    font-size: 100px;
    font-weight: 900;
    line-height: 80px;
    color: #7156fd;
    margin: 0 0 10px 0;
  }

  &__text {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    margin: 0;

    span {
      color: #01ffc2;
      // по макту здесь font-weight = 900, но визуально - 700
      font-weight: 700;
    }
  }

  &__item:nth-child(5),
  &__item:nth-child(3) {
    .advantages__text {
      margin-bottom: 10px;
    }
  }

  &__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin: 0;
    width: 77%;
  }
}
