.text-content {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  li {
    font-size: 26px;
    font-weight: 400;
    line-height: 38px;
    width: 49%;
    margin-bottom: 40px;

    span {
      font-weight: 700;
    }
  }

  &--small {
    li {
      font-size: 18px;
      font-weight: 400;
      line-height: 33px;
      margin-bottom: 28px;
    }
  }
}
